@section title {
    <h1>Welcome to Home Page!</h1>
}

<p>
    This project is built on  ASP.NET Core MVC using .Net 8. We have built a supermarket management system
</p>
<p>
    We have implemented CRUD (Create, Read, Update, Delete) operations for categories and products
</p>

<p>
    We have implemented authentication and authorization with ASP.NET Core Identity and policies
</p>
<h5>Test Account Details</h5>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>lushenthedev@gmail.com</td>
            <td>6wKX7x!VZiwKF</td>
            <td>Admin</td>
        </tr>

        <tr>
            <td>cashier@gmail.com</td>
            <td>6wKX7x!VZiwKF</td>
            <td>Cashier</td>
        </tr>

        <tr>
            <td>inventory@gmail.com</td>
            <td>6wKX7x!VZiwKF</td>
            <td>Inventory</td>
        </tr>

    </tbody>
</table>